.veryfy-btn {
  margin-right: 3rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border: solid 1px white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 2px;
}
.veryfy-btn:hover {
  color: #f5b900;
  cursor: pointer;
  border: solid 1px #f5b900;
}
